.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4caf50;
    padding: 10px 20px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logo {
    width: 150px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    text-decoration: none;
    color: yellowgreen;
}